.containerQuote{
  display: flex;
  align-items: center;
  padding-top: 2rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;
}
.wordInput{
  padding: 10px; 
  width: 10rem;
  text-align: center;
  font-size: 1.5rem;
}
.buttonQuestion{
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem; 
}
.titleRestart{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.wordsRoll p{
  font-size: 1rem;
  color: rgb(181, 181, 181);
}
.buttonRestart{
  text-decoration: none;
  display: block;
  background-color: greenyellow;
  width: auto;
  margin: 5px;
  border-radius: 20px;
}
#livesContainer{
  position: fixed;
  top: 10px;
  right: 10px;
}
.iconCorrect{
  position: absolute;
  right: 15%;
}